@model AlexaSoft_ASP.NET.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div onclick="volver()" class="text-center">
                    <i class="fa fa-angle-left fa-3x clickeable"></i>
                </div>
            </div>
            <div class="col-6">
                <h1 class="text-center">Detalles Producto</h1>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
    <hr />

<div class="container bordeVino px-4">

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaProductoNavigation.IdCategoriaProducto)
        </dd>
    </dl>
    <hr />
</div>


<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>