@model IEnumerable<AlexaSoft_ASP.NET.Models.Compra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <h1 class="text-center">Compras</h1>
        </div>
        <div class="col-3"></div>
      </div>
    </div> 
    
<p>
    <a asp-action="Create" class="btn btn-lg fondoVino text-light">Crear Compra</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope ="col">
                @Html.DisplayNameFor(model => model.Precio)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th scope="col">
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th scope="col">
            <th scope="col">
                @Html.DisplayNameFor(model => model.MotivoAnular)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoAnular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCompra">Editar</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdCompra">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCompra">Eliminar</a>
            </td>
        </tr>
} 
    </tbody>
</table>
