@model IEnumerable<AlexaSoft_ASP.NET.Models.SalidaInsumo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table fs-5 table-bordered table-responsive " style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRetiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoAnular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRetiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoAnular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInsumo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInsumo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInsumo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
