@model IEnumerable<AlexaSoft_ASP.NET.Models.Paquete>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"> 
            <h1 class="text-center">Paquetes</h1>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-lg fondoVino text-light">Crear Paquete</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th scope="col" style="width: 60%;">IdServicio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="col" style="width: 10%;">@item.Nombre</td>
                <td scope="col" style="width: 20%;">@item.Descripcion</td>
                <td class="text-center px-3">
                    <p class="m-0">
                        Estado:
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @(item.Estado == "Activo" ? "checked" : "") onchange="cambiarEstado('@item.IdPaquete')">
                        </div>
                    </p>
                </td>
                <td scope="col" style="width: 60%;">
                    <p>
                        @string.Join(", ", item.PaquetesServicios.Select(Ps => Ps.IdServicioNavigation.Nombre))
                    </p>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdPaquete">Editar</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdPaquete">Detalle</a>
                    <a class="btn btn-danger delete-btn" asp-action="Delete" asp-route-id="@item.IdPaquete">Eliminar</a>
                </td>
            </tr>  
        }
    </tbody>
</table>
<script>
    function cambiarEstado(idRol) {
        $.ajax({
            url: '@Url.Action("CambiarEstado", "Paquetes")',
            type: 'POST',
            data: { idpaquete: idRol },
            success: function (data) {
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>
