@model IEnumerable<AlexaSoft_ASP.NET.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Pedidos</h1>
        </div>
    </div> <!--Fin Row-->
</div>

<br />

<p>
    <a asp-action="Create" class="btn btn-lg fondoVino text-light">Crear Pedido</a>
</p>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                <!--<button class="btn btn-outline-secondary" type="button" id="searchButton">Buscar</button>-->
            </div>
        </div>
    </div>
</div>

<table id="tablaPedidos" class="table fs-6 table-bordered table-responsive" style="overflow:auto;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaCreacion)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFinalizacion)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>@Html.DisplayNameFor(model => model.Iva)</th>
            <th>@Html.DisplayNameFor(model => model.IdClienteNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.IdColaboradorNavigation)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="pedido">
                <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaFinalizacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>$@Html.DisplayFor(modelItem => item.Total)</td>
                <td>@Html.DisplayFor(modelItem => item.Iva)%</td>
                <td>@Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.IdColaboradorNavigation.Nombre)</td>
                <td>
                    @if (item.Estado == "Pendiente")
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdPedido" class="btn btn-l fondoOro text-light">Editar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                search();
            });

            function search() {
                var searchText = $('#searchInput').val().toLowerCase();
                $('.pedido').each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
