@model IEnumerable<AlexaSoft_ASP.NET.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center">Servicios</h1>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-lg fondoVino text-light">Crear Servicio</a>
</p>
<table class="table fs-6 table-bordered table-responsive" style="overflow:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoMinutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoMinutos)
            </td>
                <td class="text-center px-3">
                    <p class="m-0">
                        Estado:
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @(item.Estado == "Activo" ? "checked" : "") onchange="cambiarEstado('@item.IdServicio')">
                        </div>
                    </p>
                </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdServicio">Editar</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdServicio">Detalle</a>
                    <a class="btn btn-danger delete-btn" asp-action="Delete" asp-route-id="@item.IdServicio">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</tableid>

<script>
    function cambiarEstado(idRol) {
        $.ajax({
            url: '@Url.Action("CambiarEstado", "Servicios")',
            type: 'POST',
            data: { idservicio: idRol },
            success: function (data) {
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>
